{% extends 'finetask/main/base.html' %}

{% block title %} Add task {% endblock %}

{% block content %}
<h2> New task </h2>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.name.label }}:
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.content.label }}:
            </td>
            <td>
                {{ form.content }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.deadline_date.label }}:
            </td>
            <td>
                {{ form.deadline_date }}
                {{ form.deadline_hours }}
                {{ form.deadline_minutes }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.priority.label }}:
            </td>
            <td>
                {{ form.priority }}
            </td>
        </tr>
    </table>
    {% if form.errors %}
    {% for error in form.errors.values %}
    <p style="color:red"> {{ error }} </p>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Add task" class="button" />
</form>
{% endblock %}

{% block refs %} <a href="/finetask/tasks"> Back </a> {% endblock %}
