{% extends 'finetask/main/base.html' %}

{% block title %} Tasks {% endblock %}

{% block content %}
<h2> Tasks </h2>
{% if tasks %}
<table width="100%">
    {% for task in tasks %}
    <tr>
        <td class="entity"> {{ task }} </td>
        <td class="more" width="10%"> <a href="{{ task.id }}/"> More </a> </td>
        <td class="more" width="10%"> <a href="{{ task.id }}/edit"> Edit </a> </td>
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <input type="submit" value="Delete" class="button">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No tasks found. </p>
{% endif %}
{% endblock %}

{% block refs %}
<a href="add"> Add task </a>
<a href="groups"> Task groups </a>
<a href="foreign"> Foreign tasks </a>
<a href="/finetask"> Back </a>
{% endblock %}
