{% extends 'finetask/main/base_task.html' %}

{% block edit_form %}
<H4> Attach subtask to this task: </H4>

<form method="POST">
    <select name="subtask" id="select_to_search_in">
        {% if not subtasks %}
        <option>
            No tasks found
        </option>
        {% endif %}
        {% for subtask in subtasks %}
        <option value="{{ subtask.id }}">
            {{ subtask }}
        </option>
        {% endfor %}
    </select>
    {% include 'finetask/main/search_form.html' %}
    <input type="submit" value="Attach" class="button"> <br>
</form>
{% endblock %}
