{% extends 'finetask/main/base_task.html' %}

{% block edit_form %}
<h4> Edit dependency for this task, to delete it choose behaviour = No Dependency </h4>

<form method="POST">
    <select name="main_task" id="select_to_search_in">
        {% if not all_tasks %}
        <option>
            No tasks found
        </option>
        {% endif %}
        {% for task in all_tasks %}
        <option value="{{ task.id }}">
            {{ task }}
        </option>
        {% endfor %}
    </select>
    <select name="behaviour">
        {% for behaviour in behaviours %}
        <option value="{{ behaviour }}">
            {{ behaviour }}
        </option>
        {% endfor %}
    </select>
    {% include 'finetask/main/search_form.html' %}
    <input type="submit" value="Confirm" class="button"> <br>
</form>
{% endblock %}
