{% extends 'finetask/main/base.html' %}

{% block title %} Tasks {% endblock %}

{% block content %}
<h2> Tasks </h2>
{% if tasks %}
<table width="70%">
    {% for task in tasks %}
    <tr>
        <td class="entity"> {{ task }} </td>
        <td class="more" width="10%"> <a href="/finetask/tasks/{{ task.id }}/"> More </a> </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No tasks found. </p>
{% endif %}
{% endblock %}

{% block refs %}
<a href="/finetask/tasks"> Back </a>
{% endblock %}
