{% extends 'finetask/main/base_task.html' %}

{% block edit_form %}
<form method="POST">
    <input type="text" name="group_name" value="Archieve">
    <input type="submit" value="Add to group" class="button">
</form>
{% endblock %}