{% extends 'finetask/main/base.html' %}

{% block title %} Group "{{ group_name }}" {% endblock %}

{% block content %}
<h2> Tasks in group "{{ group_name }}" </h2>
{% if group_tasks %}
<table width="70%">
    {% for task in group_tasks %}
    <tr>
        <td class="entity"> {{ task }} </td>
        <td class="more" width="10%"> <a href="/finetask/tasks/{{ task.id }}/"> More </a> </td>
        <td>
            {% if is_editable %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <input type="submit" value="Remove" class="button">
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No tasks found. </p>
{% endif %}
{% endblock %}

{% block refs %} <a href="/finetask/tasks/groups"> Back </a> {% endblock %}
