{% extends 'finetask/main/base.html' %}

{% block title %} Groups {% endblock %}

{% block content %}
<h2>Task groups</h2>
<ul>
    {% for group in task_groups %}
    <li>
        <a href="{{ group }}"> Tasks </a> in group "{{ group }}"
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block refs %} <a href="/finetask/tasks"> Back </a> {% endblock %}
