{% extends 'finetask/main/base_task.html' %}

{% block edit_form %}
<form method="POST">
    <select name="permission">
        {% for level in all_levels %}
        <option value="{{ level }}">
            {{ level }}
        </option>
        {% endfor %}
    </select>
    <select name="guest" id="select_to_search_in">
        {% for user in all_users %}
        <option value="{{ user.id }}">
            {{ user }}
        </option>
        {% endfor %}
    </select>
    {% include 'finetask/main/search_form.html' %}
    <input type="submit" value="Add permission" class="button">
</form>
{% endblock %}