{% extends 'finetask/main/base_task.html' %}

{% block edit_form %}
<form method="POST">
    <select name="status">
        {% for status in all_statuses %}
        <option value="{{ status }}">
            {{ status }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Change status" class="button">
</form>
{% endblock %}