{% extends 'finetask/main/base.html' %}

{% block title %} Tree {% endblock %}

{% block content %}
<h2> Task tree for task #{{ task_id }} </h2>
    <table width="100%">
    {% for formatted_task in tree %}
        <tr>
            <td>
                <pre> {{ formatted_task.align }} {{ formatted_task.task }}  </pre>
            </td>
            <td>
                <form method="POST">
                    <a href="/finetask/tasks/{{ formatted_task.id }}">More</a>
                    <input type="hidden" name="detached_id" value="{{ formatted_task.id }}">
                    <input type="submit" value="Detach" class="button">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block refs %}
<a href="/finetask/tasks/{{ task_id }}"> Task </a>
<a href="/finetask/tasks/{{ task_id }}/tree"> Show tree </a>
<a href="/finetask/tasks/attach/{{ task_id }}"> Attach subtask </a>
<a href="/finetask/tasks/dependency/{{ task_id }}"> Edit dependency </a>
<a href="/finetask/tasks/permissions/{{ task_id }}"> Edit permissions </a>
<a href="/finetask/tasks/move/{{ task_id }}"> Add to group </a>
<a href="/finetask/tasks"> Back </a>
{% endblock %}
