{% extends 'finetask/main/base.html' %}

{% block title %} All users {% endblock %}

{% block content %}
<h2> All users </h2>
{% if users %}
<table width="50%">
    {% for user in users %}
    <tr>
        <td class="entity"> {{ user }} </td>
        <td class="more"> <a href="{{ user.id }}/"> More </a> </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No users found.</p>
{% endif %}
{% endblock %}

{% block refs %} <a href="/finetask"> Back </a> {% endblock %}
