{% extends 'finetask/main/base.html' %}

{% block title %} User #{{ user.id }} {% endblock %}

{% block content %}
<h2> User #{{ user.id }} </h2>
{% if user is not None %}
<ul>
    <li> Nickname: {{ user.nickname }} </li>
    <li> Email: {{ user.email }} </li>
    <li> Rate: {{ user.rate }} </li>
</ul>
{% else %}
<p> No user found. </p>
{% endif %}
{% endblock %}

{% block refs %} <a href="/finetask/users"> Back </a> {% endblock %}
