{% extends 'finetask/main/base.html' %}

{% block title %} Task #{{ task.id }} {% endblock %}

{% block content %}
<h2> Task #{{ task.id }} </h2>
{% if task is not None %}
<ul>
    {% for field in task_formatted %}
    <li> {{ field }} </li>
    {% endfor %}
</ul>
{% else %}
<p> No task found. </p>
{% endif %}

{% block edit_form %}

{% endblock %}

{% if exception %}
<p style="color:red"> {{ exception.message }} </p>
{% endif %}

{% endblock %}

{% block refs %}
<a href="/finetask/tasks/{{ task.id }}"> Task </a>
<a href="/finetask/tasks/{{ task.id }}/edit"> Edit </a>
<a href="/finetask/tasks/{{ task.id }}/tree"> Tree </a>
<a href="/finetask/tasks/attach/{{ task.id }}"> Attach subtask </a>
<a href="/finetask/tasks/dependency/{{ task.id }}"> Dependency </a>
<a href="/finetask/tasks/permissions/{{ task.id }}"> Permissions </a>
<a href="/finetask/tasks/move/{{ task.id }}"> Add to group </a>
<a href="/finetask/tasks"> Back </a>
{% endblock %}
