<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> {% block title %}FineTask App{% endblock %} </title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Poppins|Rajdhani" rel="stylesheet">
    <style type="text/css">
        html {
            width: 1920px;
        }

        body {
            font: 18px/100% Arial, Helvetica, sans-serif;
            padding-left: 20%;
            padding-right: 20%;
        }

        h2 {
            margin-left: 20px;
        }

        a {
            margin-left: 10px;
            margin-right: 10px;
        }

        a:link {
          color: #497DDD;
          border-bottom: 1px dotted;
        }

        a:visited {
          color: #900060;
        }

        a:hover {
          color: #154088;
          border-bottom: .07em solid;
        }

        a:active {
          color: #497DDD;
          border-bottom: 1px dotted;
        }

        ul {
            border: 1px solid black;
            padding: 3px 10px 3px 30px;
        }

        li {
            border: 1px solid goldenrod;
            padding: 5px 3px 5px 3px;
            margin: 5px auto;
        }

        .block {
            border-width: 5px 10px 15px 3px;
            border-style: solid;
            border-color: #cacd58;
            height: 280px;
            margin: 5%;
            padding: 15px;
        }

        .description {
            font-size: 18px;
            font-family: 'IBM Plex Serif', serif;
            text-indent: 40px;
            line-height: 1.3;
            text-align: justify;
        }

        .descrhead {
            text-align: center;
            margin: 0px;
        }

        .button {
            display: inline-block;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            font: 14px/100% Arial, Helvetica, sans-serif;
            padding: .5em 2em .55em;
            text-shadow: 0 1px 1px rgba(0,0,0,.3);
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
        }

        .button:hover {
            text-decoration: none;
        }

        .button:active {
            position: relative;
            top: 1px;
        }

        .entity {
            background: skyblue;
            border-radius: 5px;
            padding: 10px;
        }

        .more {
            background: skyblue;
            border-radius: 5px;
            text-align: center;
        }

        .menu-main {
          list-style: none;
          padding: 0 30px;
          margin: 0;
          font-size: 18px;
          text-align: center;
          position: relative;
          background: white;
        }

        .menu-main:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 20px;
          left: 0;
          bottom: -20px;
        }

        .menu-main li {
            border: none;
            display: inline-block;
        }

        .menu-main a {
            text-decoration: none;
            display: inline-block;
            margin: 0 15px;
            padding: 10px 30px;
            font-family: 'PT Sans Caption', sans-serif;
            color: #777777;
            transition: .3s linear;
            position: relative;
        }

        .menu-main a:before, .menu-main a:after {
            content: "";
            position: absolute;
            top: calc(50% - 3px);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #F58262;
            opacity: 0;
            transition: .5s ease-in-out;
        }

        .menu-main a:before {
            left: 5px;
        }

        .menu-main a:after {
            right: 5px;
        }

        .menu-main a.current:before,
        .menu-main a.current:after,
        .menu-main a:hover:before,
        .menu-main a:hover:after {
            opacity: 1;
        }

        .menu-main a.current, .menu-main a:hover {
            color: #F58262;
        }

        .error {
            margin: 50px 16%;
            padding: 10px;
            text-align: center;
            border: 1px solid brown;
            border-radius: 20px;
        }

        .error_text {
            font-size: 25px;
            text-indent: 40px;
            text-align: justify;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <header>
        <h1 align="center"> Welcome to the FineTask Web Application! </h1>
        {% if current_user.is_authenticated %}
            You are logged in as {{ current_user.username }}.
            <a href="/finetask/logout"> logout </a>
        {% else %}
            You are not logged in.
            <a href="/finetask/login"> login </a> or <a href="/finetask/signup"> signup </a>
        {% endif %}
    </header>

    <hr>

    <menu class="menu-main">
        <li>
            <a href="/finetask"> Index </a>
        </li>
        <li>
            <a href="/finetask/users"> Users </a>
        </li>
        <li>
            <a href="/finetask/tasks"> Tasks </a>
        </li>
        <li>
            <a href="/finetask/planners"> Planners </a>
        </li>
        <li>
            <a href="/finetask/reminders"> Reminders </a>
        </li>
    </menu>

    <hr>

    {% if reminders.lost %}
        <h4 style="color:red;"> You have lost several reminders: </h4>
        <ul>
            {% for reminder in reminders.lost %}
                <li> {{ reminder }} </li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    {% if reminders.current %}
        <h4> Your current reminders: </h4>
        <ul>
            {% for reminder in reminders.current %}
                <li> {{ reminder }} </li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <h4>
        <a href="https://bitbucket.org/Strannik12346/python_projects/src/master/" target="_blank">
            View project on BitBucket
        </a>
        {% block refs %}
        {% endblock %}
    </h4>
    <hr>
    <footer>
        {% block footer %} Ivan Malchanau, BSUIR, 2018 {% endblock %}
    </footer>
</body>
</html>
