{% extends 'finetask/main/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <td width="50%">
            <div class="error">
                <h1 style="color: red;"> AN ERROR OCCURED </h1>
                <p class="error_text">
                    Some type of error occured.
                    It might have occured in the
                    result of non-existing entity
                    or can be an internal server
                    error.
                </p>
                <h4 style="color:red" align="center">
                    {{ exception }}
                </h4>
            </div>
        </td>
</table>
{% endblock %}
