{% extends 'finetask/main/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <td width="50%">
            <div class="error">
                <h1 style="color: red;"> PERMISSION DENIED </h1>
                <p class="error_text">
                    You have <b>NO</b> permissions to perform
                    this action. If you are sure you are
                    allowed, ask the owner for permissions or
                    <a href="/finetask/login">log in</a>
                    different account.
                </p>
            </div>
        </td>
</table>
{% endblock %}
