{% extends 'finetask/main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td colspan="2" align="center">
                <h1>Please, log in</h1>
            </td>
        </tr>
        {{ form.as_table }}
        <tr>
            <td colspan="2" align="center">
                <button type="submit" class="button">Login</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}