{% extends 'finetask/main/base.html' %}

{% block title %} Add reminder {% endblock %}

{% block content %}
<h2> New regular reminder </h2>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.text.label }}:
            </td>
            <td>
                {{ form.text }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.invoke_date.label }}:
            </td>
            <td>
                {{ form.invoke_date }}
                {{ form.invoke_time_hours }}
                {{ form.invoke_time_minutes }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.shift.label }}:
            </td>
            <td>
                {{ form.shift }}
                {{ form.shift_type }}
            </td>
        </tr>
    </table>
    {% if form.errors %}
    {% for error in form.errors.values %}
    <p style="color:red"> {{ error }} </p>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Add reminder" class="button" />
</form>
{% endblock %}

{% block refs %} <a href="/finetask/reminders"> Back </a> {% endblock %}
