{% extends 'finetask/main/base.html' %}

{% block title %} Reminders {% endblock %}

{% block content %}
<h2> Reminders </h2>
{% if reminders_ %}
<table width="100%">
    {% for reminder in reminders_ %}
    <tr>
        <td class="entity"> {{ reminder }} </td>
        <td class="more" width="10%"> <a href="{{ reminder.id }}/"> More </a> </td>
        <td class="more" width="10%"> <a href="{{ reminder.id }}/edit"> Edit </a> </td>
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="reminder_id" value="{{ reminder.id }}">
                <input type="submit" value="Delete" class="button">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No reminders found.</p>
{% endif %}
{% endblock %}

{% block refs %}
<a href="add"> Add reminder </a>
<a href="add_regular"> Add regular reminder </a>
<a href="/finetask"> Back </a>
{% endblock %}
