{% extends 'finetask/main/base.html' %}

{% block title %} Reminder #{{ reminder.id }} {% endblock %}

{% block content %}
<h2> Reminder #{{ reminder.id }} </h2>
{% if reminder is not None %}
<ul>
    <li> Text: {{ reminder.text }} </li>
    <li> Invoke time: {{ reminder.invoke_time }} </li>
    {% if reminder.is_regular %}
    <li> Occurs once in {{ reminder.shift }} {{ reminder.shift_type }} </li>
    {% endif %}
</ul>
{% else %}
<p> No reminder found. </p>
{% endif %}
{% endblock %}

{% block refs %}
<a href="edit"> Edit </a>
<a href="/finetask/reminders"> Back </a>
{% endblock %}
