{% extends 'finetask/main/base.html' %}

{% block title %} Planners {% endblock %}

{% block content %}
<h2> Planners </h2>
{% if planners %}
<table width="100%">
    {% for planner in planners %}
    <tr>
        <td class="entity"> {{ planner }} </td>
        <td class="more" width="10%"> <a href="{{ planner.id }}/"> More </a> </td>
        <td class="more" width="10%"> <a href="{{ planner.id }}/edit"> Edit </a> </td>
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="planner_id" value="{{ planner.id }}">
                <input type="submit" value="Delete" class="button">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No planners found.</p>
{% endif %}
{% endblock %}

{% block refs %}
<a href="add"> Add planner </a>
<a href="/finetask"> Back </a>
{% endblock %}
