{% extends 'finetask/main/base.html' %}

{% block title %} Edit planner {% endblock %}

{% block content %}
<h2> Edit planner </h2>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.name.label }}:
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.content.label }}:
            </td>
            <td>
                {{ form.content }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.priority.label }}:
            </td>
            <td>
                {{ form.priority }}
            </td>
        </tr>
    </table>
    {% if form.errors %}
    {% for error in form.errors.values %}
    <p style="color:red"> {{ error }} </p>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Confirm changes" class="button" />
</form>
{% endblock %}

{% block refs %}
<a href="/finetask/planners/{{ planner_id }}"> Planner </a>
<a href="/finetask/planners"> Back </a>
{% endblock %}
