{% extends 'finetask/main/base.html' %}

{% block title %} Planner #{{ planner.id }} {% endblock %}

{% block content %}
<h2> Planner #{{ planner.id }} </h2>
{% if planner is not None %}
<ul>
    <li> Name: {{ planner.task_name }} </li>
    <li> Content: {{ planner.task_content }} </li>
    <li> Deadline: {{ planner.task_deadline }} </li>
    <li> Occurs once in {{ planner.shift }} {{ planner.shift_type }}
</ul>
{% else %}
<p> No planner found. </p>
{% endif %}
{% endblock %}

{% block refs %}
<a href="edit"> Edit </a>
<a href="/finetask/planners"> Back </a>
{% endblock %}
